<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>
<ul>
<% @survey.questions.each do |question| %>
	<li>
		<ul>
			<lh><strong><%= question.title%></strong></lh>
			<lh><%= question.kind %></lh>
			<% question.options.each do |option|%>
				<li><%= option.value%></li>
			<% end%>
		</ul>
	</li>
<% end %>
</ul>
<%= link_to 'Answer', survey_answer_path(@survey) %> |
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
